@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Playfair Display", serif;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  list-style: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

.fontxs {
  font-size: 0.75rem;
}
.fontsm {
  font-size: 0.875rem;
}
.fontmd {
  font-size: 1rem;
}
.fontlg {
  font-size: 1.25rem;
}
.fontxl {
  font-size: 2rem;
}
.fontxxl {
  font-size: 5rem;
}
